body {
    background: url("chainsaw-man-2.jpg");
    background-size: 100%;
}
.logo {
    width: 400px
}

li {
    color: white
}
.DenjiAndPower {
    margin-left: 200px;
    height: 1300px;  
}
nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav li {
    display: inline;
    margin: 0 0 0 25px
}
nav {
    position: absolute;
    top: 60px;
    right: 100px;
}
.Cabeçalho {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px
}  
nav a:hover {
    color: red;
}



.main {
    color: white;
}
.img {
    width: 250px;
    height: 200px;
}
.personagens li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 5px black solid;
    border-radius: 25px;
}
.personagens {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}
.personagens h2 {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}
.personagens p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.hoverteste:hover {
    color:red;
    border-color: red;
    border-width: 5px;
}
.hoverteste:active {
    border-color: aqua;
}
.hoverteste:hover h2 {
    font-size: 35px;
}
.hoverteste:hover p {
    font-size: 25px;
}

footer  {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.rodape {
    width: 300px;
}


